<%= form_for(@link, remote: true) do |f| %>
  <div class="link_share">
    <div class="field" style="display: inline">
      <%= f.text_field :link, :id => "link_box", placeholder: 'Paste your link' %>
      &nbsp&nbsp
      <%= f.text_field :link_type %>
    </div>
    <div class="actions" style="display: inline">
      <%= f.submit 'Share', class: 'btn btn-lg btn-primary'%>
    </div>
  </div>
  <% end %>
