<p id="notice"><%= notice %></p>
<h1>Welcome to Dashboard</h1>
<% if @user == current_user %>
  <%= render 'form' %>
<% end %>

<% if @links.empty? %>
  <p>No Links</p>
<% else %>
  <table>
    <thead>
      <tr>
        <!-- <th>User</th> -->
        <th>Link</th>
        <th>Link type</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <%= render link %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<% if @user.username != current_user.username %>
  <%= link_to 'New Link', "/#{current_user.username}" %>
<% end %>
