<p id="notice"><%= notice %></p>
<div class="center">
<h1>Welcome to Share it</h1><br><br>
<% if @user == current_user %>
  <%= render 'form' %>
  <br><br>
<% end %>
</div>

<% if @links.empty? %>
  <p>No Links</p>
<% else %>
  <table id="main_table">
    <thead>
      <tr>
        <th id="link_col">Link</th>
        <th colspan="100">Link type</th>
        <!-- <th colspan="10"></th> -->
      </tr>
    </thead>
    <tbody class="link_table">
      <% @links.each do |link| %>
        <%= render link %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%#= link_to 'New Link', "/#{current_user.username}" %>
